<div class="col-md-12">
    <div class="page-header">
        <i class="fas icon fa-tachometer-alt"></i>
        <div class="wrapper">
            <h1>Unity Dashboard</h1>
            <p class="lead">This page provides a detailed overview of everything related to the Unity Smart Hub. Use the sidebar navigation on the left to get detailed information on specific features.</p>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div id="iss">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h2>
                    <i class="fas fa-map-marker-alt"></i> Current I.S.S. Location</h2>
            </div>
            <div class="panel-body" id="map"></div>
            <div class="panel-footer">
                <i class="fas fa-tachometer-alt"></i> Velocity(mph):
                <span class="badge" id="iss-velocity"></span>
                <i class="fas fa-angle-up"></i> Elevation(mi.):
                <span class="badge" id="iss-elevation"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h2>Errors</h2>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Weather Errors
                        <span class="pull-right" id="statistics-errors-weather"></span>
                    </li>
                    <li class="list-group-item">
                        I.S.S. Errors
                        <span class="pull-right" id="statistics-errors-iss"></span>
                    </li>
                    <li class="list-group-item">
                        MQTT Errors
                        <span class="pull-right" id="statistics-errors-mqtt"></span>
                    </li>
                    <li class="list-group-item">
                        JSON Errors
                        <span class="pull-right" id="statistics-errors-json"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h2>Events</h2>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        I.S.S. Passes
                        <span class="pull-right" id="statistics-events-iss-passes"></span>
                    </li>
                    <li class="list-group-item">
                        I.S.S. Requests
                        <span class="pull-right" id="statistics-events-iss"></span>
                    </li>
                    <li class="list-group-item">
                        Weather Requests
                        <span class="pull-right" id="statistics-events-weather"></span>
                    </li>
                    <li class="list-group-item">
                        MQTT Requests
                        <span class="pull-right" id="statistics-events-mqtt"></span>
                    </li>
                    <li class="list-group-item">
                        WiFi Reconnects
                        <span class="pull-right" id="statistics-events-wifi"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel weather-widget" id="weather">
        <div class="panel-heading">
            <div class="pull-right">
                <a href="#" data-url="settings" data-title="Settings">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <span id="w-icon"></span>
            </div>
            <div class="info">
                <div class="col-md-3 temp">
                    <span id="weather-temp"></span>&deg;
                </div>
                <div class="col-md-7 condition">
                    <div id="weather-condition"></div>
                    <div id="weather-location"></div>
                </div>
                <div class="col-md-2 date">
                    <div class="month"></div>
                    <div class="day"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="wi wi-windy"></i>
                    <span id="weather-wind-speed"></span>mph</div>
                <div class="col-md-4">
                    <i class="wi wi-humidity"></i>
                    <span id="weather-humidity"></span>%</div>
                <div class="col-md-4">
                    <i class="wi wi-thermometer"></i>
                    <span id="weather-feels-like"></span>&deg;</div>
            </div>

        </div>
    </div>
    <div class="panel">
        <div class="panel-body" id="device-information">
            <div class="stat">
                <div class="row">
                    <div class="col-md-5 header">
                        <i class="fa fa-wifi"></i> Signal Strength
                    </div>
                    <div class="col-md-7">
                        <div class="progress progress-striped active">
                            <div class="progress-bar">
                                <span id="wifi-rssi"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stat">
                <div class="row">
                    <div class="col-md-5 header">
                        <i class="fa fa-bolt"></i> Voltage
                    </div>
                    <div class="col-md-7">
                        <div class="progress progress-striped active">
                            <div class="progress-bar">
                                <span id="device-voltage"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stat">
                <div class="row">
                    <div class="col-md-5 header">
                        <i class="fa fa-microchip"></i> Memory Usage
                    </div>
                    <div class="col-md-7">
                        <div class="progress progress-striped active">
                            <div class="progress-bar">
                                <span id="device-free-heap"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row"></div>
</div>
<script>ISS.init();</script>