<div class="col-md-12">
    <div class="page-header">
        <i class="far icon fa-lightbulb"></i>
        <div class="wrapper">
            <h1>Effects</h1>
            <p class="lead">Light up your device and enjoy the show!</p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <!-- Pulse Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Pulse Effect</h2>
        </div>
        <div class="panel-body">
            <form id="effects-form">
                <input type="hidden" class="form-control" name="effect" value="pulse">
                <div class="form-group row">
                    <label for="pulse-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="pulse-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pulse-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="0" max="100" class="form-control" id="pulse-delay" name="delay" value="10">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Blink Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Blink Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="blink">
                <div class="form-group row">
                    <label for="blink-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="blink-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="blink-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="50" max="1000" class="form-control" id="blink-delay" name="delay" value="1000">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Wipe Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Wipe Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="wipe">
                <div class="form-group row">
                    <label for="wipe-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="wipe-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wipe-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="75" max="100" class="form-control" id="wipe-delay" name="delay" value="75">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Walk Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Walk Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="walk">
                <div class="form-group row">
                    <label for="walk-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="walk-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="walk-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="20" max="1000" class="form-control" id="walk-delay" name="delay" value="20">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Cylon Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Cylon Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="cylon">
                <div class="form-group row">
                    <label for="cylon-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="cylon-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cylon-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="40" max="1000" class="form-control" id="cylon-delay" name="delay" value="40">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Whirl Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Whirl Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="whirl">
                <div class="form-group row">
                    <label for="whirl-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="whirl-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="whirl-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="40" max="1000" class="form-control" id="whirl-delay" name="delay" value="40">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Bounce Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Bounce Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="bounce">
                <div class="form-group row">
                    <label for="bounce-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="bounce-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="bounce-balls" class="col-sm-4 col-form-label">Ball Count</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="24" class="form-control" id="bounce-balls" name="balls" value="3">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="col-md-4">
    <!-- Sparkle Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Sparkle Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="sparkle">
                <div class="form-group row">
                    <label for="sparkle-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="sparkle-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sparkle-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="1000" class="form-control" id="sparkle-delay" name="delay" value="3">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sparkle-random" class="col-sm-4 col-form-label">Random</label>
                    <div class="col-sm-8">
                        <input type="checkbox" name="random" id="sparkle-random">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sparkle-fade" class="col-sm-4 col-form-label">Fade</label>
                    <div class="col-sm-8">
                        <input type="checkbox" name="fade" id="sparkle-fade">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Meteor Rain Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Meteor Rain Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="meteorRain">
                <div class="form-group row">
                    <label for="meteorRain-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="meteorRain-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="meteorRain-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="1000" class="form-control" id="meteorRain-delay" name="delay" value="50">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="meteorRain-decay" class="col-sm-4 col-form-label">Decay</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="500" class="form-control" id="meteorRain-decay" name="decay" value="100">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="meteorRain-size" class="col-sm-4 col-form-label">Size</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="24" class="form-control" id="meteorRain-size" name="size" value="24">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="meteorRain-random" class="col-sm-4 col-form-label">Random</label>
                    <div class="col-sm-8">
                        <input type="checkbox" name="random" id="meteorRain-random">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Solid Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Solid Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="solid">
                <div class="form-group row">
                    <label for="solid-color" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" id="solid-color" name="color" value="#0000FF">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <!-- Rainbow Fade Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Rainbow Fade Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="rainbowFade">
                <div class="form-group row">
                    <label for="rainbowFade-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="0" max="100" class="form-control" id="rainbowFade-delay" name="delay" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Rainbow Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Rainbow Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="rainbowCycle">
                <div class="form-group row">
                    <label for="rainbowCycle-delay" class="col-sm-4 col-form-label">Speed</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="50" class="form-control" id="rainbowCycle-delay" name="delay" value="10">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Color Cycle Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Color Cycle Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="colorCycle">
                <div class="form-group row">
                    <label for="colorCycle-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="10" max="50" class="form-control" id="colorCycle-delay" name="delay" value="25">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Ripple Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Ripple Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="ripple">
                <div class="form-group row">
                    <label for="ripple-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" max="500" class="form-control" id="ripple-delay" name="delay" value="25">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Fire Effect -->
    <div class="panel">
        <div class="panel-heading">
            <h2>Fire Effect</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="hidden" class="form-control" name="effect" value="fire">
                <div class="form-group row">
                    <label for="fire-delay" class="col-sm-4 col-form-label">Delay</label>
                    <div class="col-sm-8">
                        <input type="number" min="10" max="100" class="form-control" id="fire-delay" name="delay" value="25">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Trigger</button>
                </div>
            </form>
        </div>
    </div>

</div>


<script>Effects.init()</script>