<div class="col-md-12">
    <div class="page-header">
        <i class="fab icon fa-wpexplorer"></i>
        <div class="wrapper">
            <h1>International Space Station Tracking</h1>
            <p class="lead">From here you can track the current location, velocity, altitude and sighting schedule for the International Space Station based on your current location</p>
        </div>
    </div>
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <span class="pull-right" id="iss-location"></span>
            <h2>
                <i class="fas fa-map-marker-alt"></i> Current I.S.S. Location
            </h2>
        </div>
        <div class="panel-body" id="map"></div>
        <div class="panel-footer">
            <i class="fas fa-tachometer-alt"></i> Velocity(mph):
            <span class="badge" id="iss-velocity"></span>
            <i class="fas fa-angle-up"></i> Elevation(mi.):
            <span class="badge" id="iss-elevation"></span>
        </div>
    </div>
    <div class="panel" id="iss-passes">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rise Time</th>
                    <th>Fall Time</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody id="iss-schedule"></tbody>
        </table>
    </div>
</div>
<script>ISS.init();</script>