<div class="col-md-12">
    <div class="page-header">
        <i class="fab icon fa-hubspot"></i>
        <div class="wrapper">
            <h1>Sensors</h1>
            <p class="lead">This feature hasn't been implemented yet</p>
        </div>
    </div>
</div>