<div class="col-md-12">
    <div class="page-header">
        <i class="fa icon fa-wrench"></i>
        <div class="wrapper">
            <h1>Settings</h1>
            <p class="lead">Configure every aspect of your Unity Smart Hub from this page. Some features require accounts on 3rd party websites in order to use them.</p>
        </div>
    </div>
</div>
<div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>
        <li role="presentation">
            <a href="#ntp" aria-controls="ntp" role="tab" data-toggle="tab">NTP</a>
        </li>
        <li role="presentation">
            <a href="#mqtt" aria-controls="mqtt" role="tab" data-toggle="tab">MQTT</a>
        </li>
        <li role="presentation">
            <a href="#iss" aria-controls="iss" role="tab" data-toggle="tab">ISS</a>
        </li>
        <li role="presentation">
            <a href="#ota" aria-controls="ota" role="tab" data-toggle="tab">OTA</a>
        </li>
        <li role="presentation">
            <a href="#ssdp" aria-controls="ssdp" role="tab" data-toggle="tab">SSDP</a>
        </li>
        <li role="presentation">
            <a href="#http" aria-controls="http" role="tab" data-toggle="tab">HTTP Server</a>
        </li>
        <li role="presentation">
            <a href="#network" aria-controls="network" role="tab" data-toggle="tab">Network</a>
        </li>
        <li role="presentation">
            <a href="#google" aria-controls="google" role="tab" data-toggle="tab">Google</a>
        </li>
        <li role="presentation">
            <a href="#wunderground" aria-controls="wunderground" role="tab" data-toggle="tab">Wunderground</a>
        </li>
    </ul>

    <form id="settings-form" method="post" enctype="application/json">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <p class="alert alert-info">Your longitude, latitude and altitude information is required in order to get current weather and ISS information</p>
                <div id="map" class="mb-20"></div>
                <div class="form-group row">
                    <label for="home-lookup" class="col-sm-2 col-form-label">Lookup</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="home-lookup" placeholder="Enter your address">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="#" class="btn btn-primary" id="geocode">Find Address</a>
                    </div>
                </div>
                <hr/>
                <div class="form-group row">
                    <label for="home-lon" class="col-sm-2 col-form-label">Longitude</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="home-lon" step="0.00000001" placeholder="Longitude">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="home-lat" class="col-sm-2 col-form-label">Latitude</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="home-lat" step="0.00000001" placeholder="Latitude">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="home-alt" class="col-sm-2 col-form-label">Altitude</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="home-alt" placeholder="Altitude">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="home-timezone" class="col-sm-2 col-form-label">Timezone Offset</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="home-timezone" placeholder="Timezone">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ntp">
                <p class="alert alert-info">NTP client keeps your devices clock synced so you never have to set it manually</p>
                <div class="form-group row">
                    <label for="ntp-server" class="col-sm-2 col-form-label">Server</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="ntp-server">
                            <option>time.nist.gov</option>
                            <option>time2.google.com</option>
                            <option>pool.ntp.org</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ntp-port" class="col-sm-2 col-form-label">Port</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="ntp-port" placeholder="UDP Port">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mqtt">
                <p class="alert alert-info">MQTT is used to broadcast device information to an IoT server for use in other applications such as mobile apps or websites</p>

                <div class="form-group row">
                    <label for="mqtt-enabled" class="col-sm-2 col-form-label">Enabled</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="mqtt-enabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mqtt-publishing" class="col-sm-2 col-form-label">Publishing</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="mqtt-publishing">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mqtt-pub_topic" class="col-sm-2 col-form-label">Publishing Topic</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mqtt-pub_topic" placeholder="MQTT Topic">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mqtt-sub_topic" class="col-sm-2 col-form-label">Subscription Topic</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mqtt-sub_topic" placeholder="MQTT Topic">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mqtt-host" class="col-sm-2 col-form-label">Host</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mqtt-host" placeholder="IP Address">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mqtt-username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mqtt-username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mqtt-password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="mqtt-password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mqtt-port" class="col-sm-2 col-form-label">Port</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="mqtt-port" placeholder="Port">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="iss">

                <p class="alert alert-info">The device will light up every time the International Space Station is visible in your area</p>

                <div class="form-group row">
                    <label for="iss-enabled" class="col-sm-2 col-form-label">Enabled</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="iss-enabled">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ota">
                <p class="alert alert-info">OTA allows you to program your device without having to connect it to a computer</p>

                <div class="form-group row">
                    <label for="ota-enabled" class="col-sm-2 col-form-label">Enabled</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="ota-enabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ota-port" class="col-sm-2 col-form-label">Port</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="ota-port" placeholder="Port">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ota-password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="ota-password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ssdp">

                <div class="form-group row">
                    <label for="ssdp-enabled" class="col-sm-2 col-form-label">Enabled</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="ssdp-enabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ssdp-device_type" class="col-sm-2 col-form-label">Device Type</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ssdp-device_type" placeholder="Device Type">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ssdp-name" class="col-sm-2 col-form-label">Device Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ssdp-name" placeholder="Device Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ssdp-model_name" class="col-sm-2 col-form-label">Model Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ssdp-model_name" placeholder="Model Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ssdp-model_number" class="col-sm-2 col-form-label">Model Number</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="ssdp-model_number" placeholder="Model Number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ssdp-model_url" class="col-sm-2 col-form-label">Model URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ssdp-model_url" placeholder="Model URL">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ssdp-manufacturer" class="col-sm-2 col-form-label">Manufacturer</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ssdp-manufacturer" placeholder="Manufacturer">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ssdp-manufacturer_url" class="col-sm-2 col-form-label">Manufacturer URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ssdp-manufacturer_url" placeholder="Manufacturer URL">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="http">
                <p class="alert alert-info">The HTTP server is what you're using to view this interface. You can change how its accessed below.</p>
                <div class="form-group row">
                    <label for="http-port" class="col-sm-2 col-form-label">Port</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="http-port" placeholder="Port">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="network">
                <p class="alert alert-info">Set your devices network hostname here. You can use the name given below to access it inside a browser instead of using an IP address</p>
                <div class="form-group row">
                    <label for="network-hostname" class="col-sm-2 col-form-label">Hostname</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="network-hostname" placeholder="IP Address">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="google">
                <p class="alert alert-info">The Google Maps API key is required in order to track the ISS's current position. To obtain a key please visit:
                    <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">Google Maps APIs</a>
                </p>
                <div class="form-group row">
                    <label for="google-key" class="col-sm-2 col-form-label">Key</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="google-key" placeholder="Key">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="wunderground">
                <p class="alert alert-info">The Weather Underground API key is required in order to track current weather conditions in your area. To obtain a key please visit:
                    <a href="https://www.wunderground.com/weather/api" target="_blank">Weather Underground</a>
                </p>
                <div class="form-group row">
                    <label for="wunderground-enabled" class="col-sm-2 col-form-label">Enabled</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="wunderground-enabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wunderground-key" class="col-sm-2 col-form-label">Key</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="wunderground-key" placeholder="Key">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>Settings.init();</script>