@import "common.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext");

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    padding: 71px 20px 75px 120px;
    font-size: 14px;
    background-color: #ececec;
    color: #102c58;
}

a {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.badge {
    background-color: lighten($navbar-inverse-bg, 20)
}

.page-header {
    overflow: hidden;
    border-radius: 3px;
    color: $navbar-inverse-bg;
    margin: 0 0 25px;
    padding: 0;
    background: #ffffff;
    .icon {
        display: inline-block;
        background-color: $layout-accent-color;
        color: #ffffff;
        font-size: 48px;
        padding: 20px;
    }
    .wrapper {
        padding-left: 15px;
        display: inline-block;
    }
    h1 {
        margin: 0 0 10px;
        font-size: 20px;
        font-weight: 400;
    }
    .lead {
        margin: 0;
        font-size: 14px;
    }
}

.navbar {
    border: none;
    &.navbar-fixed-left {
        z-index: 1000;
        border-radius: 0;
        position: fixed;
        padding: 0;
        left: 0;
        top: 50px;
        height: 100%;
        .navbar-collapse {
            padding: 0;
        }
        .navbar-nav {
            margin: 0;
            li {
                width: 100px;
                padding: 0;
                float: none;
                display: block;
                &.active {
                    a {
                        color: #ffffff;
                        background-color: $layout-accent-color;
                        &:hover {
                            background-color: $layout-accent-color;
                        }
                    }
                }
                a {
                    text-align: center;
                    color: lighten($navbar-inverse-bg, 50);
                    border-bottom: 1px solid darken($navbar-inverse-bg, 5);

                    &:hover {
                        color: #ffffff;
                        background: lighten($navbar-inverse-bg, 5);
                    }
                    .fa, .fas, .fab, .far {
                        color: #ffffff;
                        display: block;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                }
                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .mr-10 {
        margin-right: 10px;
    }
    &.navbar-default {
        background: linear-gradient(#ffffff, #eeeeee);
        border-bottom: 1px solid #dddddd;
        .navbar-brand {
            .fa, .fas, .fab, .far {
                text-align: center;
                //color: $layout-accent-color;
                font-weight: 600;
            }
            color: #222222;
            a {
                color: #000000;
            }
        }
        .navbar-nav {
            a {
                cursor: default;
                min-width: 64px;
                border-left: 1px solid #dddddd;
            }
        }
    }
    &.navbar-inverse {
        .navbar-brand {
            color: #ffffff;
        }
        background: $navbar-inverse-bg;
    }
}

#weather {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    .panel-heading {
        .fa {
            color: lighten($navbar-inverse-bg, 50)
        }
        border: none;
    }
    .panel-body {
        padding: 0;
    }
    #w-icon {
        margin: 30px 0;
        white-space: normal;
        display: inline-block;
        font-size: 8em;
        color: lighten($navbar-inverse-bg, 40);
        line-height: normal;
    }
    .info {
        margin-bottom: 20px;
        .condition {
            #weather-condition {
                font-size: 1.8em;
                color: lighten($navbar-inverse-bg, 70);
            }
            #weather-location {
                color: lighten($navbar-inverse-bg, 50);
                font-weight: 400;
                font-size: 1.2em;
            }
        }
        .temp {
            line-height: 1.2;
            color: lighten($navbar-inverse-bg, 50);
            font-size: 3.8em;
            padding: 0 20px;
        }
        .date {
            vertical-align: middle !important;
            background-color: $layout-accent-color;
            color: #ffffff;
            vertical-align: middle;
            text-align: center;
            padding: 10px 5px;
            font-weight: 400;
        }
    }
    .panel-footer {
        font-weight: 600;
        border: none;
        color: #ffffff;
        .wi {
            margin-right: 10px;
            color: lighten($navbar-inverse-bg, 40);
        }
        background: lighten($navbar-inverse-bg, 10);
    }
}

#device-information {
    .header {
        .fa {
            text-align: center;
            width: 30px;
        }
        font-weight: 600;
        margin-bottom: 10px;
    }
    .stat {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 5px;
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        &.navbar-default {
            .navbar-nav {
                text-align: center;
            }
        }
    }
}

.progress {
    height: 4px;
    margin-top: 8px;
    .progress-bar {
        background-color: $layout-accent-color;
    }
}

.accent {
    color: #ffffff;
    font-weight: bold;
    background-color: $layout-accent-color;
    display: inline-block;
    padding: 10px;
    transform: perspective(600px) rotateY(30deg);

}

.panel {
    margin-bottom: 27px;
    &.panel-inverse {
        background: #181a1f;
        color: #ffffff;
        .progress {
            background: lighten(#181a1f, 5)
        }
        .panel-footer {
            font-weight: bold;
            border: none;
            border-top: 3px solid $layout-accent-color;
            background: $navbar-inverse-bg;
            text-align: center;
        }
    }
    .panel-body {
        padding-bottom: 0
    }
    .panel-heading {
        background: none;
        border: none;
        border-bottom: 3px solid $layout-accent-color;
        h2 {
            i {
                width: 20px;
            }
            margin: 0;
            font-weight: 600;
            font-size: 16px
        }
    }
}

.table {
    thead {
        tr {
            th {
                border-color: #eeeeee
            }
        }
    }
    tbody {
        tr {
            td {
                border-color: #eeeeee
            }
        }
    }
}

.mb-20 {
    margin-bottom: 20px;
}
