@import "common.scss";
#map {
  background: $navbar-inverse-bg;
  height: 480px;
  img[src="https://i.imgur.com/LzfosaW.png"] {
    animation: spin 4s linear infinite;
  }
  img[src="https://i.imgur.com/M1iuOU9.png"] {
    animation: pulsate 2s linear infinite;
  }
}

#iss-velocity {
  margin-right: 200px;
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.1);
    -moz-opacity: 0;
  }
  50% {
    -moz-opacity: 1;
  }
  100% {
    -moz-transform: scale(1.2);
    -moz-opacity: 0;
  }
}

@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1);
    -webkit-opacity: 0;
  }
  50% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    -webkit-opacity: 0;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}