.nav-tabs li a{background:#20232c;color:#ffffff;border:none !important}.nav-tabs li a:hover{background:#4b5267}.tab-content{padding:15px 15px 1px 15px;margin-bottom:22px;background:#ffffff}
/*# sourceMappingURL=settings.css.map */
