@import "common.scss";

.nav-tabs {
  li {
    a {
      background: $navbar-inverse-bg;
      color: #ffffff;
      border: none !important;
      &:hover {
        background: lighten($navbar-inverse-bg, 20)
      }
    }
  }
}

.tab-content {
  padding: 15px 15px 1px 15px;
  margin-bottom: 22px;
  background: #ffffff;
}